<mat-card class="card-container center">
	<div *ngIf="contact$ | async as contact; else loading">
		<mat-card-title>{{contact?.name.first}} {{contact?.name.last}}</mat-card-title>
		<mat-card-content>
			<img src={{contact?.picture.large}} alt="An image of {{contact?.name.first}}" class="center">
			<h3>Contact Info</h3>
			<div>
				<div>Phone: {{contact?.phone}}</div>
				<div>Cell: {{contact?.cell}}</div>
			</div>
		</mat-card-content>
	</div>
	<ng-template #loading>
		<mat-spinner class="center center-vertical"></mat-spinner>
	</ng-template>
</mat-card>