<div class="view-contacts-list center">
	<h2> Contacts </h2>
	<div *ngIf="contacts$ | async as contacts else loading">
		<mat-nav-list>
			<mat-list-item
				*ngFor="let contact of contacts"
				routerLink="/contacts/{{contact.login.username}}"
				class="list-item">
				<img src={{contact.picture.thumbnail}}
					alt="Thumbnail image of {{contact.name.first}}">
					{{contact.name.first}} {{contact.name.last}}
				<mat-divider class="list-item-divider"></mat-divider>
			</mat-list-item>
		</mat-nav-list>
	
		<mat-paginator
			[length]="100"
			[pageSize]="paginatorSettings.pageSize"
			[pageSizeOptions]="[5, 10, 25, 100]"
			[pageIndex]="paginatorSettings.pageIndex"
			(page)="onPageEvent($event)"
			aria-label="Select page">
		</mat-paginator>
	</div>
	<ng-template #loading>
		<mat-spinner class="center center-vertical"></mat-spinner>
	</ng-template>
</div>